In [1]:
import pandas as pd

In [37]:
df = pd.read_csv('RSA - Sheet1.csv')

In [38]:
df

,language1,language2,ages_groups,gender_groups,race_groups,profession_groups,religious_groups,political_groups,sexuality_groups,lifestyle_groups
0,French,English,0.685,0.255,0.415,0.245,0.384,0.682,0.426,0.626
1,Croatian,English,0.400,0.213,0.197,0.338,0.298,0.638,0.259,0.145
2,Croatian,French,0.255,0.204,0.197,0.193,0.368,0.529,0.370,0.203
3,Croatian,Greek,0.477,0.071,0.123,0.108,0.376,0.194,0.277,0.223
4,English,Greek,0.317,0.190,0.209,0.100,0.196,0.272,0.292,0.296
5,English,Spanish,0.231,0.142,0.297,0.217,0.335,0.562,0.312,0.419
6,French,Greek,0.194,0.163,0.246,0.107,0.198,0.289,0.223,0.360
7,French,Spanish,0.218,0.240,0.400,0.247,0.396,0.356,0.420,0.333
8,Greek,Spanish,0.288,0.112,0.204,0.133,0.403,0.245,0.345,0.239
9,Croatian,Spanish,0.344,0.248,0.132,0.204,0.418,0.378,0.589,0.274

In [39]:
df[(df["language1"] == "French") | (df["language2"] == "French")]

,language1,language2,ages_groups,gender_groups,race_groups,profession_groups,religious_groups,political_groups,sexuality_groups,lifestyle_groups
0,French,English,0.685,0.255,0.415,0.245,0.384,0.682,0.426,0.626
2,Croatian,French,0.255,0.204,0.197,0.193,0.368,0.529,0.370,0.203
6,French,Greek,0.194,0.163,0.246,0.107,0.198,0.289,0.223,0.360
7,French,Spanish,0.218,0.240,0.400,0.247,0.396,0.356,0.420,0.333

In [41]:
df['mean'] = df[['ages_groups', 'gender_groups', 'race_groups',
       'profession_groups', 'religious_groups', 'political_groups',
       'sexuality_groups', 'lifestyle_groups']].mean(axis=1)

In [42]:
df

,language1,language2,ages_groups,gender_groups,race_groups,profession_groups,religious_groups,political_groups,sexuality_groups,lifestyle_groups,mean
0,French,English,0.685,0.255,0.415,0.245,0.384,0.682,0.426,0.626,0.464750
1,Croatian,English,0.400,0.213,0.197,0.338,0.298,0.638,0.259,0.145,0.311000
2,Croatian,French,0.255,0.204,0.197,0.193,0.368,0.529,0.370,0.203,0.289875
3,Croatian,Greek,0.477,0.071,0.123,0.108,0.376,0.194,0.277,0.223,0.231125
4,English,Greek,0.317,0.190,0.209,0.100,0.196,0.272,0.292,0.296,0.234000
5,English,Spanish,0.231,0.142,0.297,0.217,0.335,0.562,0.312,0.419,0.314375
6,French,Greek,0.194,0.163,0.246,0.107,0.198,0.289,0.223,0.360,0.222500
7,French,Spanish,0.218,0.240,0.400,0.247,0.396,0.356,0.420,0.333,0.326250
8,Greek,Spanish,0.288,0.112,0.204,0.133,0.403,0.245,0.345,0.239,0.246125
9,Croatian,Spanish,0.344,0.248,0.132,0.204,0.418,0.378,0.589,0.274,0.323375

In [44]:
mean_row = df.mean(axis=0)
df = df.append(mean_row, ignore_index=True)

/var/folders/bd/8xwrkb8n5xx76dvqhfcw93zh0000gn/T/ipykernel_91233/497665773.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_row = df.mean(axis=0)

In [45]:
df

,language1,language2,ages_groups,gender_groups,race_groups,profession_groups,religious_groups,political_groups,sexuality_groups,lifestyle_groups,mean
0,French,English,0.6850,0.2550,0.415,0.2450,0.3840,0.6820,0.4260,0.6260,0.464750
1,Croatian,English,0.4000,0.2130,0.197,0.3380,0.2980,0.6380,0.2590,0.1450,0.311000
2,Croatian,French,0.2550,0.2040,0.197,0.1930,0.3680,0.5290,0.3700,0.2030,0.289875
3,Croatian,Greek,0.4770,0.0710,0.123,0.1080,0.3760,0.1940,0.2770,0.2230,0.231125
4,English,Greek,0.3170,0.1900,0.209,0.1000,0.1960,0.2720,0.2920,0.2960,0.234000
5,English,Spanish,0.2310,0.1420,0.297,0.2170,0.3350,0.5620,0.3120,0.4190,0.314375
6,French,Greek,0.1940,0.1630,0.246,0.1070,0.1980,0.2890,0.2230,0.3600,0.222500
7,French,Spanish,0.2180,0.2400,0.400,0.2470,0.3960,0.3560,0.4200,0.3330,0.326250
8,Greek,Spanish,0.2880,0.1120,0.204,0.1330,0.4030,0.2450,0.3450,0.2390,0.246125
9,Croatian,Spanish,0.3440,0.2480,0.132,0.2040,0.4180,0.3780,0.5890,0.2740,0.323375
10,NaN,NaN,0.3409,0.1838,0.242,0.1892,0.3372,0.4145,0.3513,0.3118,0.296338